.main-content {
  min-height: calc( 100vh - 150px );
}

//.logoCropper {
//  display: block;
//  width: 155px;
//  height: 28px;
//  overflow: hidden;
//
//  img {
//    width: 269px;
//    height: 190px;
//    margin: -85px 0 0 -70px;
//  }
//}