footer {
  background: $brandColor3;
  color: white;
  padding: 10px 0;
  text-align: center;

  a {
    color: white;
    &:hover,
    &:focus {
      color: white;
    }
  }

  .secondary-nav {
    li:not(:last-child) {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }

}
