.error-404 {
  min-height: calc(100vh - 150px);
  background: url('../../public/static/img/404.jpg');
  background-size: cover;
  background-position: center, center;
  color: white;
  text-align: center;
}
.error-500 {
  background: #fff;
}
.error-info {
  margin-top: 30vh;
  font-weight: 500;
  font-size: calc(0.7vw + 0.7vh + 1vmin + 6px);
}

.error-go-homepage {
  font-size: calc(0.7vw + 0.7vh + 2px);
  font-weight: 300;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
}

.error--wrapper {
  min-width: calc(300px + 6vw);
  width: 90vw;
  background: #fff;
  text-align: center;
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.code-500 {
  font-size: calc(70px + 6vw + 6vh);
  position: relative;
  margin-top: 10vh;
  width: 100%;
  color: #ebf4fb;
  .error-info-wrapper {
    position: absolute;
    top: 50%;
    font-size: 18px;
    width: 100%;

    .info-500 {
      font-weight: 700;
      color: black;
    }
    .info-details-500 {
      color: #718cb4;
      font-weight: 400;
      a {
        text-decoration: underline;
      }
    }
  }
}