//List

.comments-list {
  border-bottom: 2px solid $border2px;
  margin-bottom: 20px;

  &__header {
    padding-top: 20px;
    margin-top: 10px;
  }

  &__show-more {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;

    &__link {
      font-size: 10px;
      margin-top: 10px;
      color: #656b77;
    }

    &__icon {
        padding-left: 3px;
    }
  }

  &--optional-view {
    border-bottom: none;

    .comment-item {
      border-bottom: 2px solid $border1px;
      padding-bottom: 5px;
      margin: 20px 10px;
    }
  }

}



//Item

.search-comment-item {
  margin: 30px 10px;

  &__header {
    font-size: 16px;
    font-weight: 700;
  }

  em {
    background-color: $brandCol2;
    color: #FFFFFF;
    font-style: normal;
  }

  &__icon{
    float: left;
    display: inline-block;
    height: 50px;

    &::before {
      content: "\F10E";
      position: relative;
      font-family: FontAwesome;
      color: #dce3ed ;
      font-size: 2.5rem;
      margin-right: 10px;
    }
  }

  &__link {
    color: inherit;
  }

  &__content {
    min-height: 50px;
    margin-top: 10px;
    padding-top: 8px;
    line-height: 1.7;
    text-align: justify;
    text-decoration: none;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-word;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-word;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    p, h1, h2, h3, h4 ,h5, h6, li, ul, strong {
      display: inline;
      font-weight: 400;
      font-size: inherit;
    }
  }

  &__info {
    display: flex;

    .link-user {
      padding-right: 10px;
      color: #718cb4;
      display: inline-block;
      max-width: 50%;
    }

    .created-date {
      color: $txtLightColor;
      display: inline-block;
      max-width: 50%;
      min-width: 150px;
    }
  }

}

@media only screen and (max-width: 992px) {

  .search-comment-item {
    margin: 30px 0;
  }

}


