//Search Results List
.search-results-list {
  margin-top: 70px;
  margin-bottom: 50px;

  .loaderContainer {
    margin-top: 50px;
  }

  &__navigation {
    font-size: 10px;
    border-bottom: 2px solid $border2px;

    &--bottom {
      border-bottom: none;
      padding-top: 10px;
    }
  }
}

//No results header
.no-results-header {
  margin-top: 70px;
  text-align: center;
}


//Pagination
.pagination-container {
  text-align: right;

  ul {
    margin-bottom: 10px;
    display: inline-block;
    li {
      display: inline-block;
      margin-left: 15px;
    }
  }

  .active {
    font-weight: 700;
  }

  .next {
    display: none;
  }

}

//Sort By
.sort-by {
  display: inline-block;

  &__list {
    margin-bottom: 10px;
    display: inline-block;

    &__item {
      display: inline-block;
      margin-left: 15px;
    }

    &__label {
      margin-bottom: 0;
      cursor: pointer;

      &:hover {
        color: #54729e;
        text-decoration: underline;
      }

      &--active {
        color: #54729e;
        text-decoration: underline;
      }
    }

    &__input {
      display: none;
    }

  }
}

//Responsive style
@media only screen and (max-width: 992px) {

  .search-results-list {
    min-height: 200px;
    border-top: 2px solid $border1px;
    margin-top: 35px;
    padding-top: 35px;

    &__navigation {
      border-bottom: none;
      margin-bottom: 20px;

      &--bottom .pagination-container {
        border: none;
        .pagination {
          display: block;
        }

      }
    }
  }

  .pagination-container {
    .pagination {
      display: none;
    }
  }

  .sort-by {
    &__header {
      font-size: 14px;
      border-bottom: 2px solid #ebf0f2;
      padding-bottom: 10px;
      font-weight: bold;
      display: block;
      cursor: pointer;
      position: relative;
      &::after {
        content: '\f078';
        font-family: FontAwesome;
        font-size: 10px;
        position: absolute;
        right: 0;
        height: 20px;
        top: 3px;
      }
    }

    &__list {
      text-align: center;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      width: calc(100% - 20px);
      z-index: 2;
      background-color: #fafafa;

      &__item {
        margin-top: 5px;
        margin-left: 0;
        display: block;
        font-size: 12px;
        height: 30px;
        &:first-child {
          margin-top: 10px;
        }
      }

      &--show {
        max-height: 500px;
        border: 1px solid $border1px;
      }
    }
  }

}
