//Search Page
.search-container {
  background-color: $bgColor;
}


.main-search-form {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  li {
    background: #fff;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin:0;
    padding:20px;
    transition:background 0.2s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    white-space: normal;
    em {
      background-color: #f87251;
      color: #fff;
    }
  }
}
.tags {
  line-height: 20px;
}

.navbar-toggleable-md .suggestions {
  top: 45px;
}
//
//.suggestions li:nth-child(even) {
//  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
//}
//.suggestions li:nth-child(odd) {
//  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
//}