.search-form {
  margin-top: 50px;
  color: #e9a24f;
  position: relative;

  &__input {
    background-color: $bgColor;
    border: none;
    color: $brandCol2 ;
    display: block;
    width: 100%;
    max-width: 100%;
    outline: none;
    font-size: 25px;
    border-bottom: 2px solid $border1px  ;
    padding-bottom: 5px;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -ms-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    transition: border 500ms ease-out;
    &:focus {
      border-color: $linkColor;
    }
    &:not(:valid) ~ .search-form__button-container {
      visibility: hidden;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #656b77;
      font-size: 20px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #656b77;
      font-size: 20px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #656b77;
      font-size: 20px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #656b77;
      font-size: 20px;
    }
  }

  &__button-container {
    width: 100%;
    text-align: right;
    height: 12px;
  }

  &__reset-button {
    display: inline-block;
    position: relative;
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-right: 5px;
    font-size: 25px;
    color: #64707e;
    top: -45px;
  }

  &__checkbox {
    display: flex;
    color: #656b77;
    font-size: 10px;
    justify-content: space-between;

    &-container {
      display: flex;
      justify-content: flex-start;
      min-width: 50%;
    }

    &-input {
      width: auto;
    }

    &-label {
      flex-basis: 2;
      margin-left: 5px;
    }
  }

}

