.search-filter {
  margin-top: 70px;

  &__header {
    font-size: 14px;
    border-bottom: 2px solid $border2px ;
    text-transform: capitalize;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__list {
    font-size: 12px;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    text-align: left;

    &__item {
      display: flex;
      align-items: center;
      height: 35px;
    }

    &__label {
      cursor: pointer;
      width: 100%;
      display: flex;
    }

    &__radio-button {
      margin-right: 10px;
      align-self: center;
    }

  }
}

//Responsive styles
@media only screen and (max-width: 992px) {

  .mobile-filter {

    .search-filter {
      margin-top: 0;

      &__header {
        cursor: pointer;
        position: relative;
        line-height: 21px;
        margin-bottom: 0;
        &::after {
          content: '\f078';
          font-family: FontAwesome;
          font-size: 10px;
          position: absolute;
          right: 0;
        }
      }

      &__list {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        width: calc(100% - 20px);
        z-index: 3;
        border: 1px solid transparent;
        text-align: center;

        &--show {
          max-height: 500px;
          background-color: #fafafa;
          border: 1px solid $border1px;
          border-top: none;
          li:first-of-type {
            margin-top: 10px;
          }
        }

        &__form__item {
          display: block;
          margin-left: 0;
          width: 100%;
          margin-top: 5px;
        }

        &__form__label {
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
}


