.search-article {
  margin-top: 25px;
  margin-bottom: 20px;
  border-bottom: 2px solid $border2px;
  &__header {
    font-size: 16px !important;
    font-weight: 700 !important;
  }

  &__desc {
    display: flex;
    margin: 20px auto;
    word-break: break-word;

    h1, h2, h3, h4, h5, h6, strong, p, li, ul {
      font-size: inherit;
      display: inline;
      font-weight: 400;
    }

    .tag-container {
      //margin-top: 5px;
      display: block;
      .btn-tag {
        color: #FFFFFF;
        margin-left: 5px;
        cursor: default;
        &:hover {
          color: #FFFFFF;
        }
        em {
          background-color: inherit;
        }
      }
    }

  }

  &__thumbnail {
    &__img {
      width: 105px;
      margin-right: 10px;
    }
  }

  &__links {
    display: flex;
    padding-bottom: 5px;

    .view-more {
      margin-left: auto;
      margin-top: -2px;
    }

    .link-user,
    .created-date,
    .amount {
      padding-right: 10px;
    }

    .amount,
    .created-date {
      color: $txtLightColor;

    }

    .created-date {
      min-width: 120px;
      padding-left: 5px;
    }

    .amount {
      margin-top: -2px;
    }
  }


  em {
    color: #FFFFFF;
    background-color: $brandCol2;
    font-style: normal;
  }
}


.search-video__thumbnail {
  width: 105px;
  margin-right: 10px;
  position: relative;
  &__img {
    width: 100%;
  }
  &::after {
    content: url('/static/img/icons/playsearch.svg');
    z-index: 2;
    display: block;
    position: absolute;
    top: 25%;
    left: 30px;
  }
}


@media only screen and (max-width: 992px) {

  .search-article__thumbnail {
    display: none;
  }

  .search-article {
    &__links {
      .created-date {
        min-width: 90px;
      }
    }
  }

}