.search-post-header {
  font-size: 14px;
  font-weight: 700;
}

.post-icon{
  float: left;
  display: inline-block;
  height: 50px;
  &::before {

    content: "\f086";
    font-family: FontAwesome;
    color: #dce3ed ;
    font-size: 2.5rem;
    margin-right: 10px;
  }
}

.forum-content {
  margin-top: 20px;
  min-height: 50px;
  word-break: break-word;
}

.search-comment-item__info .view-more {
  margin-left: auto;
  margin-top: -2px;
}

.comments-list--optional-view .search-comment-item {
  border-bottom: 2px solid #ebf0f2;
  padding-bottom: 5px;
}
