.wrapper.pp-password-change {
  @media only screen and (min-width: map-get($grid-breakpoints, sm)){
    .orientation-landscape {
      .form-group{
        width: 100%;
      }
    }
  }
}

.wrapper.pp-password-set {
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    width: 520px;
  }
}

.wrapper.pp-password {
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    button {
      margin-top: 31px;
    }
  }
  @media only screen and (min-width: 690px){
    width: 650px;
  }
}
