.wrapper.pp-user-details {
  h1 {
    text-align: center;
    @extend .font-style-regular;
  }
  h3 {
    font-size: 20px;
    @extend .font-style-semibold;
  }
  form {
    margin: 0 -20px;
  }
  .alert {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .white {
    background: white;
  }
  .agree {
    input {
      margin-top: -1px;
    }
  }
  .form-group {
    padding: 20px;
    margin-bottom: 0;

    ul {
      margin-bottom: 0;
    }

    .form-check > li {
      padding: 0 5px;
    }

    .form-check > li.true {
      background: $brandCol;
      color: white;
      @include border-radius(5px);
    }
  }
  .form-group-last {
    padding-bottom: 0;
    .form-check-label {
      font-size: 9px;
    }
  }
  ul {
    margin-top: 1rem;
    li {
      margin-bottom: 30px;
      .form-check-label {
        font-size: 13px;
        padding-bottom: 3px;
        @extend .font-style-semibold;
        .form-check-input {
          position: relative;
        }
      }
    }
    @media only screen and (min-width: 550px){
      @include columns(2);
    }
    @media only screen and (min-width: 769px){
      @include columns(3);
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
  button {
    width: 100%;
    margin-top: 20px;
    @media only screen and (min-width: 769px){
      width: auto;
      float: right;
      margin-top: 0;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    .form-group {
      padding: 20px 80px;
    }
    form {
      margin: 0 -80px;
    }
  }

  @media only screen and (min-width: 920px){
    width: 880px;
  }
}