.pp-login{

  .head {
    text-align: center;
  }

  .register,
  a {
    @extend .font-12px;
    @extend .font-style-semibold;
    color: $linkColor;
  }
  a {
    text-decoration: underline;
  }

  .form-password {
    margin-bottom: 10px;
  }

  .external-links {
    background: white;
    margin: 0 -20px -20px -20px;
    padding: 35px 20px;
    text-align: center;

    .btn {
      border: 2px solid $border1px;
      text-decoration: none;
      color: $txtColor;
    }
  }

  .btn-onelogin {
    line-height: 14px;
  }
}

.wrapper.pp-login {
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    width: 520px;

    .external-links {
      margin: 0 -80px -40px -80px;
      padding: 35px 80px;
    }
  }
}
