// General Styles
.pp-register{
  .head {
    text-align: center;
    line-height: 26px;
  }
  .login {
    text-align: center;
    @extend .font-12px;
    a {
      @extend .font-style-semibold;
      text-decoration: underline;
    }
  }

  .agree {
    label {
      font-size: 9px;
    }
    input {
      margin-top: -1px;
    }
    a {
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .why {
    border-top: 2px solid $border1px;
    margin-top: 2rem;
    padding-top: 3rem;
    text-align: center;
  }
}

.wrapper.pp-register {
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    width: 650px;
  }
}