.wrapper.pp-message-success, .wrapper.pp-message-fail {
  text-align: center;

  h1, p, a {
    @extend .font-style-semibold;
  }

  h1 {
    font-size: 19px;
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 2px solid $border1px;
  }

  a {
    text-decoration: underline;
  }
  @media only screen and (min-width: 920px){
    width: 880px;
  }
}