.pp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 202;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;

  // Social login styles
  .social-login {
    .txt {
      @extend .font-13px;
    }
  }

  // 'lub' line seperator styles
  .or {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 10px;

    &:before {
        border-top: 2px solid $border1px;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span {
        background: $bgColor;
        padding: 0 15px;
        @extend .font-12px;
    }
  }

  // Headings styles
  h2 {
    font-size: 19px;
  }

  .head,
  .head-dark {
    margin: -20px -20px 0 -20px;
  }

  .head {
    padding: 35px 20px;
    background: white;
  }

  .head-dark {
    color: white;
    background: $popupHeadingDark;
    padding: 20px;
  }

  // Form styles
  label {
    @extend .font-12px;
  }

  button:not(.btn-social) {
    font-size: 15px;
    @extend .font-style-semibold;
  }

  // ikonka zamkniecie popup-u
  .close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    color: #798591;
    cursor: pointer;
  }

  // Jakis wrapper poprawie
  &-text-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }

  // Jakies ikonki popup
  &-icon {
    font-size: 90px;
    padding: 20px;
    border: 2px solid $iconBorderCol;
    color: $iconCol;
    background: $iconBackground;
    @include border-radius(10px);
    display:inline-block;
  }

  // Aktywne okno popup-a
  .wrapper {
    width: 100%;
    width: calc(100% - 40px);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    background: white;
    padding: 20px;
    background: $bgColor;
  }

  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    .wrapper {
      position: fixed;
      height: auto;
      top: 50%;
      padding: 40px 80px;
      transform: translate(-50%, -50%);
    }

    .head,
    .head-dark {
      margin: -40px -80px 0 -80px;
    }

    .head {
      padding: 35px 80px;
    }

    .head-dark {
      padding: 20px 80px;
    }
  }
  // Responsive Styles

}
