.wrapper.pp-article-send {

  .form-control {
    background-color: $bgColor;
  }

  .form-check-label {
    font-size: 9px;
  }

  .head-dark {
    h1 {
      font-size: 19px;
      @extend .font-style-semibold;
    }
    p {
      @extend .font-style-regular;
    }
  }

  .alert {
    margin-top: 1rem;
  }

  .title-wrapper {
    border-bottom: 2px solid #7b96be;
    height: 35px;
  }

  .title {
    border: 0;
    padding-left: 0;
    height: 33px;

    &::-webkit-input-placeholder {
      font-size: 19px;
    }
    &::-moz-placeholder {
      font-size: 19px;
    }
    &:-ms-input-placeholder {
      font-size: 19px;
    }
    &:-moz-placeholder {
      font-size: 19px;
    }
  }

  .file-uploader {
    background: white;
    text-align: center;
    border: 1px dashed $iconLightCol;
    color: $iconLightText;
    padding: 80px 0;
    cursor: pointer;
    max-height: 245px;
    overflow: auto;

    .file-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & .dz-default.dz-message {
      display: none;
    }

    &:before {
      content: "";
      display: block;
      background-image: url('/static/img/icons/upload_file.svg');
      background-repeat: no-repeat;
      background-position: center center;
      padding: 20px 20px;
    }
    &-preview {
      float: left;
      img {
        max-width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }

  .dz-started {
    padding: 20px 0;
  }

  @media only screen and (min-width: 920px){
    width: 880px;
  }
}
