.in {
	font-family: 'Open Sans', sans-serif;
	width: 982px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

@media only screen and (max-width: 982px){     
			
	.in {
		width: 100%;
	}
			
}	

.in h2 {
	font-size: 44px;
	font-weight: 300;
	text-align: center;
	color: #4a5b76;
	margin: 0 0 15px 0;
	letter-spacing: -1px;
}

@media only screen and (max-width: 500px){     
			
	.in h2 {
		font-size: 34px;
	}
			
}

.in > p {
	font-size: 19px;
	font-weight: 400;
	text-align: center;
	color: #4a5b76;
	padding: 0 75px;
	margin-bottom: 70px;
	letter-spacing: 1px;
}

@media only screen and (max-width: 500px){     
			
	.in > p {
		font-size: 15px;
		padding: 0 50px;
		margin-bottom: 35px;
	}
			
}

.in > p strong {
	color: #4188ff;	
}

.in .get-job,
.in .offer-job {
	display: block;
	width: 49.5%;
	height: 539px;
	color: #fff;
	text-align: center;
	text-decoration: none;
    padding: 0 50px;
    
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;    
}

@media only screen and (max-width: 865px){     
			
	.in .get-job,
	.in .offer-job {
		width: 100%; 
		margin-bottom: 15px;
	}
			
}

@media only screen and (max-width: 500px){     
			
	.in .get-job,
	.in .offer-job {
	    padding: 0 25px;
	    height: auto;
	    padding: 0 50px 25px 50px;
	}
			
}

@media only screen and (max-width: 400px){     
			
	.in .get-job,
	.in .offer-job {
	    padding: 0 10px 15px 10px;
	}
			
}

.in .get-job > i,
.in .offer-job > i {
	display: block;
	margin: 78px 0 33px;
}

@media only screen and (max-width: 500px){     
			
	.in .get-job > i,
	.in .offer-job > i {
		margin: 58px 0 23px;
	}
			
}

.in .get-job h3,
.in .offer-job h3 {
	font-size: 28px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 500px){     
			
	.in .get-job h3,
	.in .offer-job h3 {
		font-size: 20px;
		margin-bottom: 10px;
	}
			
}

.in .get-job > p,
.in .offer-job > p {
	font-size: 20px;
}

.in .get-job > p {
	margin: 0 0 43px 0;	
}

.in .offer-job > p {
	margin: 0 0 67px 0;
}

@media only screen and (max-width: 500px){     
			
	.in .get-job > p,
	.in .offer-job > p {
		margin: 0 0 23px 0;
	}
			
}

.in .get-job .logo,
.in .offer-job .logo {
	margin: 0 0 74px 0;
}

@media only screen and (max-width: 500px){     
			
	.in .get-job .logo,
	.in .offer-job .logo {
		margin: 0 0 34px 0;
	}
			
}

.in .get-job .cta,
.in .offer-job .cta {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
    width: 260px;
    margin: 0 auto;
    padding: 13px 16px;
    
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.in .get-job .cta i,
.in .offer-job .cta i {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 13px;
    background: url(arrow-right.png);
    margin-left: 15px;
}





.in .get-job {
	background: url(get-job-bg.jpg) top center no-repeat;
	background-size: cover;
	float: left;
}

.in .get-job .cta {
	background: #4188ff;
}







.in .offer-job {
	background: url(offer-job-bg.jpg) top center no-repeat;
	background-size: cover;
	float: right;
}

.in .offer-job .cta {
	background: #ea6949;
}









.in .clearfix:before,
.in .clearfix:after {
	content: " ";
	display: table
}

.in .clearfix:after {
	clear: both
}