.policy {
  width: 90vw;
  background: #FFFFFF;
  margin: auto;
  padding: 4vh 4vw;
  h1 {
    word-wrap: break-word;
  }
  ul > li {
    font-weight: 600;
  }
  ul > li > ul > li{
    font-weight: 300;
  }
  ul > li > ul > li > ul > li{
    font-weight: 300;
    margin-left: 30px;
    list-style: disc;
  }
}