.tags {

  a {
    max-width: 100%;
    float:right;
    clear:left;
    span {
      font-size: 12px;
    }
  }

  .btn {
    @extend .font-14px;
    @extend .font-style-semibold;
  }
  .btn-tag {
    margin: 2px;
    //max-width: 200px;
  }

  .btn:not(:last-child){
    //margin-right: 0.5rem;
  }
  @media only screen and (max-width: map-get($grid-breakpoints, sm)){

    text-align: right;

    .btn-tag {
      max-width: 120px;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)){
    width: 100%;
    a {
      float: left;
    }

    .btn:not(:last-child){
      //margin-right: 0;
      //margin-bottom: 0.5rem;
    }
  }
}
