.amount {
  @extend .font-11px;
  white-space: nowrap;
}

.comment-text {
  @extend .font-12px;
}

.deleted-comment {
  filter: grayscale(100%);
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.cloud {
  margin: 0 0.25rem;
}
.share-btn {
  margin-top: -3px;
}