/*========================================================================*\
|| ###################################################################### ||
|| # vBulletin 5.3.1
|| # ------------------------------------------------------------------ # ||
|| # Copyright 2000-2017 vBulletin Solutions Inc. All Rights Reserved.  # ||
|| # This file may not be redistributed in whole or significant part.   # ||
|| # ----------------- VBULLETIN IS NOT FREE SOFTWARE ----------------- # ||
|| # http://www.vbulletin.com | http://www.vbulletin.com/license.html   # ||
|| ###################################################################### ||
\*========================================================================*/

#acp-head-wrapper {
	font-family: Arial;
}
#acp-top-links {
	background: #F5F4F4;
	margin: 0;
	padding: 0 35px;
	height: 28px;
	font-size: 12px;
	border-bottom: 1px solid #21282d;
	color: #e9e9e9;
}
#acp-top-links li {
	list-style: none;
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0 20px;
}
#acp-top-links li.divider {
	border-left: 1px solid #DBDCDD;
	border-right: 1px solid #F7F7F7;
	padding: 0;
}
#acp-top-links li#acp-top-link-acp {
	border-top: 1px solid #21282d;
	border-left: 1px solid #21282d;
	border-right: 1px solid #21282d;
	background: #303942;
	color: #FFF;
	font-family: Helvetica;
	font-weight: bold;
}
#acp-top-links li > a {
	display: block;
	height: 28px;
	line-height: 28px;
}
#acp-top-links li#acp-top-link-acp > div {
	height: 28px;
	line-height: 28px;
}
#acp-top-links li#acp-top-link-acp > div .icon {
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url("../../../images/css/sprite_icons_vb_ltr.png") no-repeat scroll -96px -16px transparent;
	vertical-align: text-bottom;
}
#acp-top-links li#acp-top-link-site {

}
#acp-top-links li#acp-top-link-site a {
	color: #262d35;
	text-decoration: none;
}
#acp-logo-bar {
	background: url("admincp_hd_back.png") repeat;
	height: 57px;
	clear: both;
}
#acp-logo-bar a {
	color: #FFF;
	text-decoration: none;
}
#acp-logo-bar .logo {
	margin: 12px 12px 0;
}
#acp-logo-bar .logo img {
	height: 29px;
}
#acp-logo-bar .links {
	margin-top: 22px;
}
#acp-logo-bar .search {
	margin-top: 15px;
}
#acp-logo-bar .search input[type="text"] {
	width: 300px;
}
#acp-nav-wrapper {
	width:240px;
	padding: 10px 0;
	background-color:#686C73;
}
.acp-nav-controls {
	clear: both;
	margin: 0;
}
.acp-nav-controls a {
	border: 1px solid #41454C;
	color: #DEE1E3;
	background-color: #595D64;
	font-family: Arial;
	font-size: 11px;
	display: block;
	height: 22px;
	margin: 4px 20px 0 20px;
	text-align: center;
	line-height: 22px;
	text-decoration: none;
	border-radius: 2px;
}
.acp-nav-controls a.nav-left {
	width: 96px;
}
.acp-nav-controls a.nav-right {
	width: 96px;
}
.acp-nav-controls > div {
	clear: both;
}
.navtitle {
	background: url("admincp_lnav_btn_default.png");
	height: 26px;
	border-top: 1px solid #7C8189;
	border-bottom: 1px solid #4F545B;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #F2F2F2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.navtitle-open {
	background: url("admincp_lnav_btn_active.png");
	color: #000C1D;
}
.navgroup a {
	display: block;
	height: 28px;
	line-height: 28px;
	background: #E0E0E1;
	border-bottom: 1px solid #B1B1B1;
	text-decoration: none;
	font-family: Arial;
	font-size: 11px;
	color: #000C1D;
}
.navgroup a:hover {
	background: #D1D2D4;
}
.nav-spacer {
	height: 9px;
	clear: both;
	background: #595D64;
}
.nav-spacer-wide {
	margin-bottom: 12px;
	clear: both;
}
body {
	background: #E9E9E9;
	font-family: Arial;
	font-size: 12px;
	color: #262D35;
}
.pagetitle {
	margin: 25px 35px;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: #0086D3;
}
.warning-message {
	padding: 1px 6px 2px 6px;
	margin-top: -1px;
	font-weight: bold;
	color: #FFF;
	background: #C10000;
}

.hide {
	display: none;
}

table.tborder {
	margin-bottom: 20px;
}
.tcat {
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	background: #53575E url("admincp_modhd_back.png") repeat-x;
	height: 24px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #B4BCC7;
}
.tcat .helplink {
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
}

.tcat a {
	color: #ACE1FF;
	text-decoration: none;
}

div.tcat > div {
	margin-top: 4px;
}
div.tcat > b {
	display: block;
	padding-top: 4px;
}
.thead,
.optiontitle {
	background: url("admincp_modtitle_back.png");
	min-height: 30px;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #262D35;
	padding-left: 20px;
	padding-right: 20px;
}
.alt1,
.alt2,
.warning {
	background: #FFF;
	padding: 6px 20px;
}
.alt2 {
	background: #F6F6F6;
}

.datepicker-selected {
	font-weight:bold;
}

.cms.alt1,
.cms.alt2  {
	background: #FFF;
	padding: 6px 0px;
	word-wrap: break-word;
}
.cms.alt2 {
	background: #F6F6F6;
}
.cms.tfoot {
	padding-left: 4px;
	padding-right: 4px;
}
.cms.thead {
	padding-left: 0px;
	padding-right: 0px;
}
.cms.actionbar select{
	max-width: 200px;
}
.cms.filterlist span{
	white-space: nowrap;
}
@media (max-width: 1000px) {
	.cms.filterlist {
		clear: both;
	}
}

.acp-style-readonly-mark:before {
	color: red;
	content: "(*)";
}
dfn {
    display: block;
    font-size: 11px;
}
.warning {
	background: #D5E7F1;
	border: 1px solid #B4BCC7;
}
.thead .smallfont,
.optiontitle .smallfont {
	font-size: 11px;
	font-weight: normal;
}
.tcat .normal {
	font-size: 12px;
	font-weight: normal;
}
.tcat .normal a {
	color: #FFF;
}
.tfoot {
	background: #F1F1F1;
	padding: 8px 20px;
}
a {
	color: #0085D2;
}
.acp-content-wrapper {
	margin: 0 35px 35px 35px;
}
.stylebg {
	background: #FFF;
}
.stylerow {
	padding: 1px 14px;
}
.acp-footer {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #313A43;
	color: #A8ABB1;
	font-family: Arial;
	font-size: 12px;
}
.acp-footer a {
	color: #A8ABB1;
	text-decoration: none;
}
input[type="text"],
input[type="password"] {
	border-radius: 2px;
	height: 20px;
	border: 1px solid #B3B7BF;
	padding-left: 5px;
	padding-right: 5px;
}
select {
	border-radius: 2px;
	border: 1px solid #B3B7BF;
}
select option {
	padding-left: 7px;
	padding-right: 7px;
}
/* template select */
#templatelist0 optgroup option {
	padding-left: 22px;
	padding-right: 22px;
}
textarea {
	border: 1px solid #B3B7BF;
	border-radius: 2px;
}
.button {
	height: 24px;
	background: url("admincp_btn_secondary.png");
	border: 1px solid #B3B7BF;
	border-radius: 2px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #262D35;
}
.button:disabled {
	opacity: 0.5;
}
.tcat .button {
	height: 20px;
	background: url("admincp_btn_title.png");
	border: 1px solid #B4BCC7;
	border-radius: 2px;
}
.tfoot .button {
	margin-left: 10px;
	margin-right: 10px;
}
.login-logo {
	background: #F1F1F1; /* 595D64 686C73 F1F1F1 */
}
.checkbox-in-thead {
	font-weight: normal;
}
.acpsmallfont {
	font-size: 9px;
}
.boldrow {
	font-weight: bold;
	padding: 6px 20px;
}

/* Upgrade/install */
#all .tborder {
	background: #D5E7F1;
	border: 1px solid #B4BCC7;
}

/* ############################################################################# */
/* TEMPLATE EDITOR AND COLOR KEYS */

/* Used for the <select> based template editor and color key legends */
.darkbg
{
	color: #000000;
	background: #FFFFFF;
}

/* Color for template group text */
.templategroup
{
	color: #000000;
}

/* In the <select> based template editor, set a background-color for template groups */
option.templategroup
{
	background: #EEEEEE;
}

/* Color preview buttons on the CSS editor */
.color_input_container {
	float:left;
	display:inline;
	margin-right:4px;
}
.colorpreview
{
	font-weight: normal;
	border: 1px solid black;
	width: 40px;
	height: 21px;
	float: left;
	display: inline;
	margin-right: 4px;
	border-style: inset;
	border-width: 1px;
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	background-clip: initial;
	background-origin: initial;
	-moz-background-inline-policy: -moz-initial;
}

/* Stylevar autocomplete in stylevar editor */
.stylevar-autocomplete-menu {
	max-width: 50%;
	height: 0;
}
.stylevar-autocomplete-menu .ui-autocomplete{
	background: #FFFFFF;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #B3B7BF;
}
.stylevar-autocomplete-menu a {
	box-sizing: border-box;
	display: block;
	padding: 3px;
	width: 100%;
	color: inherit;
}
.stylevar-autocomplete-menu .ui-state-hover {
	background-color: #D1D2D4;
}

/* misc */
.code, .code-g, .code-i, code-c
{
	font: 10pt consolas, 'courier new', courier, monospace;
}

optgroup
{
	font-style: italic;
	font-weight: bold;
}

/* ############################################################################# */
/* CUSTOMIZED, INHERITED, GLOBAL / STANDARD COLORS */

/* Global/ Standard elements */
.col-g, input.col-g, textarea.col-g, .code-g, .col-g a:link, .col-g a:visited, .col-g a:active, .code
{
	color: #001F30;
}

/* Inherited elements */
.col-i, input.col-i, textarea.col-i, .code-i, .col-i a:link, .col-i a:visited, .col-i a:active
{
	color: #FF5500;
}

/* Customized elements */
.col-c, input.col-c, textarea.col-c, .code-c, .col-c a:link, .col-c a:visited, .col-c a:active
{
	color: #CC0000;
}

/* ############################################################################# */
/* TEMPLATE DIFF VIEWER */
.diff-unchanged
{
	background-color: #dddddd;
	color: #000000;
}

.diff-notext
{
	background-color: #c0c0c0;
	color: #000000;
}

.diff-changed
{
	background-color: #f0f060;
	color: #000000;
}

.diff-added, .diff-inline-added
{
	background-color: #B0F0B0;
	color: #000000;
	border: 0 solid #00FF00;
}

.diff-inline-added-start
{
	border-top-width: 1px;
}

.diff-inline-added-end
{
	border-bottom-width: 1px;
}

.diff-deleted, .diff-inline-deleted
{
	background-color: #F0B0B0;
	color: #000000;
	border: 0 solid #EB5858;
}

.diff-inline-deleted-start
{
	border-top-width: 1px
}

.diff-inline-deleted-end
{
	border-bottom-width: 1px;
}

.diff-inline-break
{
	border: solid gray;
	border-width:1px 0;
}

.diff-linenumber
{
	color: #999988;
	background-color: #EEEEDD;
	border-bottom: 1px solid #999988;
	border-right: 1px solid #CCCCCC;
	vertical-align: top;
	text-align: center;
}

.merge-nochange
{
	background-color: #dddddd;
	color: #000000;
}

.merge-successful
{
	background-color: #f0f060;
	color: #000000;
}

.merge-conflict
{
	background: #F0B0B0;
	color: #000000;
}

#compare_inline .merge-conflict
{
	background: #F0B0B0 url(../../cpstyles/vBulletin_5_Default/merge_conflict_bg.png) repeat-y;
	color: #000000;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.merge-conflict-row
{
	padding-left: 20px;
	border-bottom: 1px solid #D04040;
}

.merge-conflict-final-row
{
	padding-left: 20px;
}

.template-text-merged
{
	color: #0000C0;
}

.template-text-conflicted
{
	color: #D00000;
	font-weight: bold;
}

/* ############################################################################# */
/* MODERATOR LISTING */

/* Moderator was last online today */
.modtoday
{
	color: #001F30;
}

/* Moderator was last online yesterday */
.modyesterday
{
	color: #008000;
}

/* Moderator was last online within the last 10 days */
.modlasttendays
{
	color: #0000CD;
}

/* Moderator has not been on in the last 10 days */
.modsincetendays
{
	color: #FF5500;
}

/* Moderator has not been on in last 30 days */
.modsincethirtydays
{
	color: #CC0000;
}

/* Titles for <fieldset> elements */
legend
{
	font-weight: bold;
	color: #000000;
}

.normal
{
	font-weight: normal;
}

/* Stylevar editor stylevar inheritance */
.stylevar-autocomplete-menu .ui-autocomplete {
	max-height: 250px;
	min-width: 350px;
	overflow: auto;
}
.stylevar-autocomplete-menu .ui-autocomplete li:hover {
	cursor: pointer;
	background: #EEE;
}
.readonly {
	background: #EEE;
}



/*========================================================================*\
|| ######################################################################
|| # Downloaded: 01:43, Tue Jun 20th 2017
|| # CVS: $RCSfile$ - $Revision: 92250 $
|| ######################################################################
\*========================================================================*/
