.btn {
  white-space: normal;
  word-break: break-all;

  @include border-radius(2px);
  padding: 4px;

  &-full-width {
    width: 100%;
  }

  &-padding {
    padding: 15px 20px;
  }

  &-padding-sides {
    padding: 15px 50px;
  }

  &-color {
    background: $buttonBgColor;
    color: white;
    border: 0;

    &:hover, &:focus {
      background: $buttonBgColorHover;
      color: white;
    }
  }

  &-neutral {
    background: $buttonBgNeutral;
    color: $buttonBgNeutralColor;
    border: 1px solid $border1px;

    &:hover, &:focus {
      background: $buttonBgNeutralHover;
      color: $buttonBgNeutralColor;
      border: 1px solid $border1px;
    }
  }

  &-tag {
    background: $buttonBgTag;
    color: $buttonBgTagColor;
    border: 0;
    font-weight: normal;

    &:hover, &:focus {
      background: $buttonBgTagHover;
      color: $buttonBgTagColor;
    }
  }

  &-tag-sticky {
    @extend .font-12px;
    @extend .font-style-semibold;
    color: white;
    background: $buttonBgTagSticky;
  }

  &-social {
    padding: 8px 15px;
    @extend .font-style-semibold;
    @extend .font-12px;
    &:before {
      font-family: FontAwesome;
      float: left;
    }
  }

  &-social-fb {
    padding: 8px 20px;
  }

  &-onelogin {
    background: #00548b;
    &:before {
      content:"";
      float: left;
      background-image: url('/static/img/icons/trans_logo.svg');
      background-repeat: no-repeat;
      background-size: auto 100%;
      width: 25px;
      height: 14px;
    }
  }

}
