input.form-control,
textarea.form-control {
  padding: 15px;
  border: 1px solid $inputBorder;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

textarea.form-control {
  resize: none;
}

input.form-check-input {
  margin-right: 10px;
}

.form-password {
  position: relative;
  input {
    padding-right: 55px;
  }
  img {
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;
  }
}

.form-password-col {
  img {
    top: 28px;
  }
}

.article-list-comments,
.article-details-comments {
  input[type='text'] {
    background-image: url('~/static/img/icons/arrow_comment_add.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 95% center;
  }
}


::placeholder {
  @extend .font-13px;
  font-family: 'Open Sans';
}
