html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 82px;
  background-color: #f8f8f8;
}

.loader {
  margin: 50px auto;
  width: 50px;
  height: 50px;
}
.no-display {
  display: none;
}

.no-data-msg {
  padding: 20px;
  color: silver;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.video-thumbnail{
  position: relative;
  display: block;
  cursor: pointer;
  @include background-cover;
  background-position: center center;
  background-repeat: no-repeat;
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background-image: url('/static/img/icons/play.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

.border-bottom {
  border-bottom: 2px solid $border1px;
}

.head-dark {
  background: $brandColor3;
  color: white;
  padding: 20px;
  @extend .font-style-semibold;

  h2 {
    font-size: 19px;
  }
}

.notification {
  text-align: center;
  z-index: 100;

  .alert-disabled {
    display: none;
  }
  .alert-active {
    display: block;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }

  .alert {
    @include border-radius(0);
    padding: 20px;
  }

  .alert-danger {
    background-color: #f9e4e1;
    color: #f57655;
  }

  .alert-success {
    background-color: #e7fce9;
    color: #60a866;
  }

}

.break-word {
  word-break: break-word;
}

.brak-all {
  word-break: break-all;
}

.list-wrapper {
  background: $bgColor;
}

.trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.height-100 {
  height: 100%;
}

.link-silver {
  color: $txtColor;

  &:hover {
    color: $txtColor;
  }
}

// remove red border on form input in firefox
input:invalid {
  box-shadow: none;
}

.gradient-link-img {
  @include heading-shadow(100%);
}