@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;

  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-bottom($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;

  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin columns($number){
  -webkit-column-count: $number;
  -moz-column-count: $number;
  column-count: $number;
}

@mixin columns-gap($gap){
  -webkit-column-gap: $gap; /* Chrome, Safari, Opera */
  -moz-column-gap: $gap; /* Firefox */
  column-gap: $gap;
}

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin heading-shadow($height) {
  content: '';
  width: 100%;
  height: $height;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  /* fragment od grafika */
  background: rgba(10,46,72,0);
  background: -moz-linear-gradient(top, rgba(10,46,72,0) 5%, rgba(10,46,72,1) 89%);
  background: -webkit-gradient(left top, left bottom, color-stop(5%, rgba(10,46,72,0)), color-stop(89%, rgba(10,46,72,1)));
  background: -webkit-linear-gradient(top, rgba(10,46,72,0) 5%, rgba(10,46,72,1) 89%);
  background: -o-linear-gradient(top, rgba(10,46,72,0) 5%, rgba(10,46,72,1) 89%);
  background: -ms-linear-gradient(top, rgba(10,46,72,0) 5%, rgba(10,46,72,1) 89%);
  background: linear-gradient(to bottom, rgba(10,46,72,0) 5%, rgba(10,46,72,1) 89%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3656', endColorstr='#1e3656', GradientType=0 );
}

@mixin center-icon($element-size){
  width: $element-size;
  height: $element-size;
  line-height: $element-size;
}

@mixin box-shadow($right, $bottom, $blur, $size, $color){
  -webkit-box-shadow: $right $bottom $blur $size $color;
  -moz-box-shadow: $right $bottom $blur $size $color;
  -o-box-shadow: $right $bottom $blur $size $color;
  -ms-box-shadow: $right $bottom $blur $size $color;
  box-shadow: $right $bottom $blur $size $color;
}
