// Typography config

.font {
  &-18px {
    font-size: 18px;
  }
  &-14px {
    font-size: 14px;
  }
  &-13px {
    font-size: 13px;
  }
  &-12px {
    font-size: 12px;
  }
  &-11px {
    font-size: 11px;
  }
}

.font-style {
  &-regular {
    font-family: 'Open Sans';
    font-weight: normal;
  }
  &-italic {
    font-style: italic;
  }
  &-normal {
    font-style: normal;
  }
  &-semibold {
    font-family: 'Open Sans Semibold';
    font-weight: normal;
  }
  &-bold {
    font-family: 'Open Sans';
    font-weight: bold;
  }
}

// Typography styles

.h1, .h2, .h3 {
  display: block;
}

h1, .h1 {
  @extend .font-style-bold;
}

h2, .h2 {
  @extend .font-style-semibold;
}


.quote-text {
  font-family: $font-family-serif;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}
