.video-player {
  background: #151F29;

}

// Responsive Styles //
//@media only screen and (min-width: 740px){
//  .video-player iframe {
//    width: 850px;
//    margin: 0 auto;
//    display: block;
//  }
//}
//
//@media only screen and (max-width: 739px) {
//  .video-player {
//    height: 230px;
//    iframe {
//      width: 100%;
//      height: 230px;
//    }
//  }
//}
// Responsive Styles //

@media only screen and (max-width: 768px) {
  .video-player {
   .container {
     padding: 0;
   }
    .container>div {
      width: 98%;
    }
    iframe {
      width: 100%;

    }
  }
}