
.hidden-social-buttons {
  display: none;
}

.hover-btn {
  .dropdown-profile {
    display: none;
  }
}

.hover-btn:hover {
  .dropdown-profile {
    display: block;
    margin-top: 0px;
  }
}

.fixed-top {
  z-index: 201;
}

.navbar {
  background-color: #FFF;

  .banner{
    height: 28px;
    padding-left: 10px;
  }

  #navbarCollapse > div {
    width: 100%;
  }
  .fa {
    display: inline;
    margin-left: 4px;
  }
  form {
    input {
      border: none !important;
    }
    button {
      border: none !important;
      background-color: #FFF;
    }
  }
  .nav-link {
    cursor: pointer;
  }
  .login-button {
    cursor: pointer;
    img {
      margin-bottom: 3px;
      margin-right: 6px;
      width: 10px;
      height: auto;
    }
  }
  .dropdown {
    line-height: 28px;
    padding-top:10px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .lang-switch {
    margin-left: -10px;
    margin-top: -1px;
    min-width: 50px;
    a:not(:first-child) {
      border-top: solid 1px $border2px;
    }
  }
  .navbar-nav {
    .menu-item {
      .nav-link {
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }

  .thumbnail {
    width: 50px;
  }

  .user-menu {
    line-height: 28px;
    padding-top: 18px;
    padding-left: 5px;
  }
}

// prevent to wrap icon
// .fa {
//   display: inline;
//   margin-left: 4px;
// }

#navbar > .d-flex {
  width: 100%;
}

// MOBILE VIEW
@media (max-width: 991px) {
  .navbar {
    height: 60px;
    .logo {
      margin-left: 20px;
    }
    .navbar-toggler, .navbar-brand a, .navbar-brand div {
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
    }

    .navbar-toggler.active {
      right: 82%;
    }
    .navbar-toggler.active > .navbar-toggler-icon {
      display: none;
    }
    .navbar-toggler:not(.active) > .close {
      display: none;
    }

    .navbar-brand.off > a {
      margin-left: -200px;
    }
    .navbar-brand.off > div {
      display: none;
    }
    //.navbar-brand>div>form {
    //  margin-left: 60px;
    //  margin-right: 80px;
    //}
    .navbar-brand > div {
      margin-right: 80px;
    }
    .navbar-brand {
      white-space: normal;
    }
    .pipeline {
      margin: 10px;
    }
    form {
      position: absolute !important;
      top: 0;
      //left: 140px;
    }
    .thumbnail {
      transform: scale(0.8);
    }
    padding: 10px 0 0 0 !important;
    .navbar-collapse {
      display: none;
      .login-button span {
        color: #FFF;
      }
      .d-flex {
        background-color: $brandColor3;
        .flex-first {
          .dropdown {
            color: #FFF;
          }
        }
      }
    }
    .navbar-nav {
      text-align: right;
      .nav-item {
        font-size: 16px;
        padding: 7px 0;
        border-bottom: solid 1px $txtColor;
      }
      .login-item {
        background-color: darken($brandColor3, 5);
        border-top: 0;
        border-bottom: 0;
        .login-button {
          color: #FFF;
          img {
            margin: -4px 10px 0 10px;
          }
        }
      }
      .addnews-item a span {
        color: $brandCol2;
      }
      .nav-item:last-child {
        border-bottom: none;
      }
      li a {
        color: #FFF !important;
        i {
          display: none;
        }
      }
    }
  }
  // PUSH EFFECT
  .push-canvas {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    overflow-x: hidden;
    position: relative;
    left: 0;
  }
  .push-canvas.pushed-left {
    left: -80%;
  }
  .push-canvas.pushed-right {
    left: 80%;
  }
  .navbar-push {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    height: 100%;
    position: fixed;
    width: 80%;
    top: 0;
    background-color: $brandColor3;
    overflow: scroll;

  }
  .navbar-push.navbar-push-left {
    right: -80%;

  }
  .navbar-push.navbar-push-right {
    left: -80%;
  }
  .navbar-push.navbar-push-right.in {
    left: 0;

  }
  .navbar-push.navbar-push-left.in {
    right: 0;
  }
}

.navbar .user {
  margin-left: 10px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  transition: all 400ms;
  background: none;
  border: none;
  div {
    max-width: 210px;
    color: #fff;
  }
  // .user-info {
  //   margin: 0 8px;
  // }
  // * {
  //     margin: 0 8px;
  // }

  nav {
    form {
      margin-left: 50px;
      margin-right: 90px;
    }
  }

}

// DESKTOP VIEW
@media (min-width: 992px) {
  .navbar {
    background-color: #fff;
    padding: 10px 10%;
    transition: padding 400ms;
    .pipeline {
      border-left: 1px solid $brandHighlightDarker;
      margin: 10px;
    }
    .user div {
      color: #000;
    }

    .menu-item {
      .hover-menu {
        width: 100%;
        position: absolute;
        left: 0;
        // height: 0;
        overflow: hidden;
        transition: 250ms ease-in;
        //margin-top: -5px;
        top: -500px;
        box-shadow: 0px 10px 10px -10px #000;
        .box {
          background-color: #fff;
          margin: 0;
          padding: 10px 10px 0;
          border-top: 2px solid $brandHighlightDarker;
        }
        .see-all {
          background-color: $bgColor;
          text-align: center;
          padding: 15px;
          a {
            //font-family: 'Open Sans Semibold';
            font-size: 15px;
            color: $txtColor;
          }
        }
        .video-thumbnail {
          //padding: 15px 40px 0 40px;
          text-align: center;
        }
        .forum-block {
          padding: 20px 40px;
          .h4 {
            font-weight: bold;
          }
          ul li {
            margin: 15px 0;
          }
        }
        .people-block {
          padding: 20px 40px;
          .link-user {
            font-size: 15px;
          }
          .role {
            font-size: 12px;
          }
          .header-author {
            border-bottom: solid 2px $border2px;
            .user-image {
              .user-info {
                margin: 0;
              }
              img {
                width: 50px;
              }
            }
          }
          ul li {
            margin: 15px 0;
            color: #8196a7;
            img {
              margin: 0 4px 4px 0;
            }
          }
        }
      }

      &:hover {
        .hover-menu {
          height: auto;
          top: auto;
        }
      }
    }
  }
  .logo {
    transform: scale(1);
    margin-top: 0;
    transition: all 400ms;
  }
  .thumbnail {
    transform: scale(1);
    margin-top: 0;
    transition: all 400ms;
  }
  .img-zoom-out {
    transform: scale(0.8);
  }

  .navbar-zoom-out {
    height: 50px;
    padding: 0 7%;

    .lang-switch {
      margin-top: -9px;
    }


    .hover-menu {
      margin-top: -5px;
    }
    .hover-btn:hover {
      .dropdown-profile {
        display: block;
        margin-top: -7px;
      }
    }
  }
}

// add extra
@media (min-width: 992px) and (max-width: 1100px) {
  .navbar {
    .navbar-collapse {
      .pipeline {
        margin: 10px 2px;
      }
      form input {
        width: 110px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .navbar {
    padding: 10px 3%;
    form input {
      max-width: 140px;
    }
  }
}

//
//@media (max-width: 992px) {
//  .banner{
//    height: 50px;
//   // padding: calc( 5px + 0.3vw) 0px 15px 10px;
//  }
//}


// .navbar-default {
//   position: fixed;
//   width: 100%;
// }

// .navbar-push {
//     margin-left: 0;
//     margin-right: 0;
// }

// nav {
//   position: fixed;
// }
// nav button {
//   z-index:100;
// }

//.height100px {
//  height: 150px;
//}

//height100px a:before {
//  background-size: 50% auto;
//}
