// General

.post {

}

// Article

.post.article {
  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, sm)){

  }
  // Responsive Styles
}


  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, sm)){

  }
  @media only screen and (min-width: map-get($grid-breakpoints, lg)){

  }
  // Responsive Styles

