.post.article {

  .content {



    .lead-text p{
      font-weight: bold;
    }

    h1, h2, h3 {
      padding: 40px 0 20px 0;
      font-weight: bold;
    }
    h4, h5, h6 {
      margin-top: 50px;
      margin-bottom: 30px;
      font-weight: bold;
      line-height: normal;
    }

    .post-gallery,
    .redaction {
      display: inline-block;
      clear: both;
    }
    .imgsource {
      font-size: 0.7em;
    }

    // Html output from wordpress
    .htmlOutput {
      font-size: 21px;
      color: $txtColor;
      line-height: 1.6;
      .lead {
        font-size: 21px;
      }

      img {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 5px;
      }
      div.image-caption {
        width: 100% !important;
        .image-caption-text {
          font-size: .7em;
          color: #9a9a9a;
        }
      }

    }

    .related-posts {

      .slick-arrow {
        height: 50px;
        top: 100px;
      }

      .list {
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            width: 100%;
            text-align: left;
            font-weight: bold;
          }

          .thumbnail-wrapper {
            height: 200px;
            width: 100%;
            margin-bottom: 15px;
            .thumbnail {
              @include background-cover;
              width: 100%;
              height: 100%;
            }
          }

          .thumbnail,
          .video-thumbnail {
            width: 100%;
          }

        }
      }
    }


    // Komentarz redakcji
    .redaction {
      background: $brandHighlightDarker;
      margin-top: 1.5rem;
      padding: 40px;
      font-size: 19px;
      @extend .font-style-italic;

      h3 {
        margin-bottom: 1.5rem;
        @extend .font-style-semibold;
        @extend .font-style-normal;
      }

      p {
        margin-bottom: 0;
      }
    }

    // Quote inside the content
    .quotation {
      font-size: 19px;
      background: white;
      border-left: 5px solid $brandCol;
      padding: 30px;
      margin: 30px 0;
      text-align: left;
      box-shadow: 3px 3px 10px #DDD;
      clear: both;
      @extend .font-style-semibold;

      p {
        margin-bottom: 0;
        &:before {
          content: open-quote;
        }
        &:after {
          content: close-quote;
        }
      }
    }

    // Blocquote
    blockquote::before{
      content: '”';
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10rem;
      font-style: normal;
      position: absolute;
      margin-left: -50px;
      margin-top: -52px;
      color: rgba(0,0,0, 0.1);
    }
    blockquote {
      width: 100%;
      margin: 40px 0;
      padding-left: 40px;
      cite {
        display: block;
        margin-top: 8px;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
      }
      p {
        margin: 0;
        padding: 0 10px;
        font-style: italic;
      }
      p:not(:first-child) {
        font-size: 13px;
        font-style: normal;
        margin: 0;
        padding: 0 10px;
      }
    }

    // Responsive Styles
    @media screen and (min-width: 992px) {

      .redaction,
      .post-gallery {
        //margin-right: -17%;
      }

      .quotation {
        width: 350px;
        float: right;
        margin: 20px -12% 20px 20px;
      }

    }
    // Responsive Styles

  }

  @media screen and (min-width: 992px) {
    .content .htmlOutput {
      padding-right: 10%;
    }
  }


  // zaslepka - info o nowej wersji
  .new-version {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #d28255 , #3b4371); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d28255, #3b4371); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d28255, #3b4371); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d28255 , #3b4371); /* Standard syntax */
    color: #FFF;
    img {
      margin: 0 10px;
    }
    span {
      white-space : nowrap;
      margin-left: 20px;
      border: solid 1px #fff;
      border-radius: 5px;
      padding: 5px 5px 5px 15px;
      img {
        margin-top:-3px;
      }
    }
    a {
      color: #FFF;
    }
    .nounderline {
      text-decoration: none;
    }
  }
  @media screen and (min-width: 700px){
    .rwd-break { display: none; }
    .new-version {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }
  @media screen and (max-width: 991px){
    .new-version {
      margin-top: -20px;
    }
  }
}
