.post.article {
  .content {
    table {
      display: none;
    }

    .table-converted {
      margin: 30px auto 30px auto;
    }

    .table-row:not(:last-child) {
      margin-bottom: 20px;
    }

    .table-head,
    .table-cell,
    td {
      padding: 10px;
    }

    .table-head,
    tr:first-child td,
    th {
      background: $brandCol !important;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 19px;
      @include border-radius-top(8px);
    }

    .table-cell {
      background: white;
    }

    .table-cell:nth-child(odd),
    tr:nth-child(odd) {
      background: #f0f0f0;
    }

    // Responsive Styles
    @media screen and (min-width: 992px) {

      .table-converted {
        display: none;
      }

      table {
        display: table;
        width: 100%;
        background: white;
        padding: 0;
        margin: 30px auto 30px auto;

        td {
          border: 2px solid $bgColor;
        }
      }
    }
    // Responsive Styles
  }
}
