.post.video {

    h1 {
      @extend .font-style-semibold;
      font-size: 30px;
    }

    .htmlOutput {
        background: white;
        padding: 15px;
    }

    .article-head {
        background: white;
        padding: 15px;

        .social-bar {
            padding: 15px 0;
            border-bottom: 2px solid $border1px;
        }
    }

  .related-posts {
    background-color: #ffffff;
    padding: 21px;
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      .thumbnail,
      .video-thumbnail {
        padding: 8px;
        margin-right: 5px;
        width: 160px;
        min-width: 160px;
        .play {
          width: 40px;
          height: 40px;
          margin: -20px 0 0 -20px;
        }
      }

      a {
        word-wrap: break-word;
        overflow: hidden;
      }

    }
  }

    // Responsive Styles
    @media only screen and (min-width: 576px){
        .content {

        }
    }

    @media only screen and (min-width: 992px){
      .content {
        .htmlOutput {
          width: 100%;
        }
      }
    }
    // Responsive Styles
}
