.post {

  .featured-image {
    width: 100%;
    height: 500px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    @include background-cover;

    &:before {
      @include heading-shadow(320px);
    }

    .container,
    .row {
      height: 100%;
    }

    h1 {
      color: white;
      position: absolute;
      bottom: 20px;
    }

  }

  .user-card {
    padding: 15px;
  }

  // Responsive Styles
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 18px;
    }
    .featured-image {
      height: 330px;
    }
  }

}

.tags-semibold {
  @extend .font-style-semibold; // zaślepka...
  font-size: 12px;

  a {
    span {
      font-size: 12px;
    }
  }
}

