// Image Gallery
.post-gallery {

  width: 100%;

  .image-gallery-thumbnails-container {
    float: left;
  }

  .image-gallery-image {
    text-align: center;
    background: $brandColor3;
    img{
      width: auto;
      max-width: 100%;
      height: 350px;
    }
  }

  .image-gallery-index {
    right: 10px;
    top: 10px;
    @include border-radius(5px);
  }

  .image-gallery-left-nav,
  .image-gallery-right-nav {
    &:before {
      font-family: 'FontAwesome';
      background: rgba(42, 47, 52, 0.5);
      padding: 20px;
      font-size: 20px;
      @include border-radius(100%);
    }
  }

  .image-gallery-left-nav {
    &:before {
      content: '\f053';
    }
  }

  .image-gallery-right-nav {
    &:before {
      content: '\f054 ';
    }
  }
}
