.post .comments {

  .head {
    h2 {
      font-size: 19px;
    }
    .amount {
      font-size: 14px;
      @extend .font-style-semibold;

      img {
        display: none;
      }
    }
  }



  .thumbnail {
    width: 40px;
  }

  .add-comment {
    width: 100%;
  }

  .link-user,
  .comment-text {
    @extend .font-14px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .likes {
    margin-right: 0.5rem;
  }

  .amount {
    cursor: pointer;
  }

  .children {
    margin-top: 1.5rem;
    margin-left: 60px;
    padding-left: 10px;
    border-left: 2px solid $border1px;
  }

  .toggle-replies {
    @extend .font-12px;
    color: #7b96be;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  .toggle-replies-show:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background-image: url('/static/img/icons/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .toggle-replies-hide:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background-image: url('/static/img/icons/arrow_up.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }



}
