.post {

  .content {

    margin-top: 1rem;

    // Html output from wordpress
    .htmlOutput {
      img {
        max-width: 100%;
      }
    }

    // Social bar component
    .social-bar-side {
      background-color: #fff;
      margin-top: 1rem;
      padding: 15px;

      .share {
        .social-icon {
          height: 20px;
          margin-bottom: 5px;
        }
      }
    }

    // Social bar component on mobile
    .social-bar-mobile {
      background-color: #fff;
      margin-bottom: 1rem;
      padding: 15px;
    }

    // Responsive Styles
    @media screen and (min-width: 992px) {

      margin-top: 2rem;

      .htmlOutput {
        margin-top: 0;
      }

    }
    // Responsive Styles
  }
}
