.start-video {
  position: absolute;
  //top: 80px;
  padding: 12px;
  //left: 174px;
  opacity: .7;

  cursor: pointer;

  transition: all 0.3s;
}

.start-video:hover
{
  opacity: 1;
  -webkit-filter: brightness (1);
}

.thumbnail_container
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  a {
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      left: 50%;
      top:50%;
      margin: -20px 0 0 -20px;
    }
  }
}

#popupVid {
  width: 100%;
  height: 100%;
  iframe {
    width: 100%;
    height: 100%;
  }
}