.videos {

  background: white;
  margin-bottom: -3rem;
  padding-bottom: 3rem;

  header {
    padding: 40px 10px;
    .social-bar {
      margin: 1rem 0;
    }
    h1 {
      font-size: 26px;
      @extend .font-style-semibold;
    }
  }

  .video-categories {
    h2 {
      border-top: 2px solid $border1px;
      padding: 1rem 0;
    }
  }

  .video-list-item {
    height: 100%;
    .video-thumbnail{
      //height: 221px;
      @include background-cover;
    }
  }

  .htmlOutput {
    font-family: 'Open Sans Semibold';
    margin-top: 1rem;
  }


  .video-social {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    img {
      display: inline-block;
    }
  }

  .slick-arrow {
    height: 50px;
    top: 115px;
  }

  // Responsive Styles
  @media only screen and (min-width: 576px){
    header {
      .social-bar {
        margin: 0;
      }
    }
  }

  @media only screen and (min-width: 1350px){
    .video-categories {
      h2 {
        margin-left: -50px;
      }
    }
  }
  // Responsive Styles

}
