.regulations {
  width: 90vw;
  background: #FFFFFF;
  margin: auto;
  padding: 4vh 4vw;
  h1 {
    word-wrap: break-word;
  }
  ul > li {
    font-weight: 600;
  }
  ul > li > ul > li{
    font-weight: 300;
    padding-left: 2vw;
  }
}
