.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  .loader {
    position: relative;
    width: 57px;
    height: 73px;
    margin: 0 auto;
  }
  .light_left {
    border-radius: 100%;
    position: absolute;
    left: 12px;
    top: 50px;
    height: 10px;
    width: 10px;
    margin: 0 auto;
    background-color: #ef796d;
    animation-name: stretch;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  @keyframes stretch {
    0% {
      transform: scale(.1);
      background-color: #ef796d;
      border-radius: 100%;
    }
    50% {;
    }
    100% {
      transform: scale(1.2);
      border-radius: 100%;
    }
  }
  .light_right {
    border-radius: 100%;
    position: absolute;
    left: 38px;
    top: 50px;
    height: 10px;
    width: 10px;
    margin: 0 auto;
    background-color: #6ec6e9;
    animation-name: stretch;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-delay: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  @keyframes stretch {
    0% {
      transform: scale(.1);
      background-color: #6ec6e9;
      border-radius: 100%;
    }
    50% {;
    }
    100% {
      transform: scale(1.2);
      border-radius: 100%;
    }
  }
}