.wall-post-item {

  background: white;
  margin: 0;

  .wrapper {
    position: relative;
  }


  .wall-post-content {
    .post-thumbnail,
    .video-thumbnail {
      height: 280px;
      a img {
        width: 100%;
        height: 280px;
      }
    }
  }
  .user-card {
    .post-author {
      min-width:45%;
    }
  }

  .post-thumbnail {
    display: block;
    @include background-cover;
    background-position: center center;
    background-repeat: no-repeat;
  }


  .view-more {
    display: block;
  }

  .head-on-image {

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0px 15px 15px 15px;
      color: white;
      //@include heading-shadow(auto);


      a {
        color: white;
        &:hover,
        &:focus {
          color: white;
        }
      }
  }
  //.head-on-image::before {
  //  height: 100% !important;
  //  @include heading-shadow(auto);
  //}

  .related-posts {
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      .thumbnail,
      .video-thumbnail {
        margin-right: 10px;
        width: 85px;
        min-width: 85px;
        .play {
          width: 30px;
          height: 30px;
          margin: -15px 0 0 -15px;
        }
      }

      .video-thumbnail:before {
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
      }

    }
  }

  //  Responsive Styles
  @media only screen and (min-width: 992px){

    background: none;
    margin: 0 -10px;

    .wall-post-content {
      padding: 15px;
      background: white;
      .post-thumbnail,
      .video-thumbnail {
        height: 390px;
        a img {
          width: 100%;
          height: 390px;
        }
      }
    }

  }
  //  Responsive Styles

}

