// Set Quote
.home .quote-set {

  background: $brandColor3;
  color: white;
  text-align: center;

  h2 {
    text-align: center;
  }

  li {
    &:first-child {
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    &:not(:nth-child(2)){
      margin-bottom: 3rem;
      padding-bottom: 3rem;
    }
  }

  .post-author {
    z-index: 3;
    width: auto;
    @extend .font-12px;
    @extend .font-style-semibold;
    color: #c7dbf9;

    img {
      width: 60px;
    }
  }
  .quote-gotopost {
    color: #c7dbf9;
    @extend .font-12px;
    z-index: 3;
  }

  .quote-text {
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-word;
    a {
      color: white;
    }
  }

  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, sm)){
    text-align: left;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)){
    h2 {
      text-align: left;
    }
    li {
      &:first-child {
        border-bottom: 0;
      }
      &:not(:nth-child(2)){
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .quote-text {
      position: relative;
       &:before{
         content: '”';
         font-family: Arial, Helvetica, sans-serif;
         font-size: 20rem;
         font-style: normal;
         position: absolute;
         top: -160px;
         right: 20px;
         color: rgba(255,255,255, 0.05);
       }
    }
  }
  // Responsive Styles
}
