.wall-comments {

  background: white;

  .thumbnail {
    width: 30px;
  }

  .head-mobile {
    border-top: 2px solid $border1px;
    border-bottom: 2px solid $border1px;
    a {
      @extend .font-11px;
      margin-top: 1px;
    }
  }

  .comment-item {
    span {
      overflow-wrap: break-word;
    }
  }


  .comment-item:not(:last-child) {
    border-bottom: 2px solid $border1px;
    padding-bottom: 1rem;
  }

  .view-more-comments {
    border-top: 2px solid $border1px;
    @extend .font-11px;
  }

  //  Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, lg)){
    padding: 15px;
  }
  // Responsive Styles

}

