.home .transtv {

  background: white;
  text-align: center;
  //padding: 60px 0;

  .video-thumbnail {
    margin-bottom: 0.5rem;
  }

  .video-description {
    text-align: left;
  }

  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    text-align: left;
  }
  // Responsive Styles
}
