// Single Quote

.home .quote-single {

  background: white;
  text-align: center;

  .quote-text {
    span > p {
      font-size: 21px;
      margin-bottom: 2rem;
      &:before {
        content: open-quote;
      }
      &:after {
        content: close-quote;
      }
    }
  }

  .post-author {
    width: 100%;
    img {
      width: 100px;
    }
    & > .link-user {
      display: block;
      text-align: center;
    }
    .link-user {
      @extend .font-13px;
      @extend .font-style-regular;
    }
    .role {
      @extend .font-11px;
    }
    .post-author-info {
      margin-left: 0 !important;
      text-align: center;
    }
  }

  .social-bar {
    margin-bottom: 1rem;
  }

  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, md)){

    text-align: left;

    .social-bar {
      margin-bottom: 0;
    }

  }
  // Responsive Styles

}
