.add-news-sticky,
.wall-add-news {
  z-index: 3;
}

.add-news-sticky {
  transform: initial !important;
}

.wall-add-news {
  
  display: none;

  p {
    display: none;
  }

  // Responsive Styles
  @media only screen and (min-width: 1250px){

    display: block;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 10px;

    .icon {
      width: 65px;
      height: 65px;
      line-height: 65px;
      color: white;
      background: $brandCol2;
      @include border-radius(100%);
      font-size: 1rem;
      margin-bottom: 1em;
      @include box-shadow(0, 4px, 4px, -2px, #999);
    }
  }

  @media only screen and (min-width: 1620px){
    width: 165px;
    position: absolute;
    top: auto;
    bottom: auto;
    background: white;
    padding: 20px;

    p {
      display: block;
      font-size: 19px;
      font-family: 'Open Sans Semibold';
    }
  }
  // Responsive Styles
}
