.wall-sticky {

  color: white;

  a {
    color: white;
    &:hover,
    &:focus {
      color: white;
    }
  }

  .content {
    height: 500px;
  }

  .sticky-main {
    width: 100%;
    height: 100%;
  }

  .wrapper,
  .sticky-thumbnail {
    height: 100%;
    width: 100%;
    position: absolute;

  }

  .wrapper {
    position: relative;
  }
  .sticky-thumbnail {
    display: block;
    @include background-cover;
  }

  .video-thumbnail-wrapper {
    height: 100%;
  }

  .head {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
    @include heading-shadow(120);
  }

  .post-author {
    .link-user {
      @extend .font-style-regular;
      img {
        width: 30px;
      }
    }
    .role {
      color: #9299a0;
    }
  }

  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, xl)){

    .sticky-main {
      width: 65%;
      border-right: 7px solid $bgColor;
    }

    .sticky-sub {
      width: 35%;
      .h2 {
        font-size: 26px;
      }
      .btn-tag-sticky {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .sticky-sub-item {
      flex-grow: 1;
      &:not(:last-child){
        border-bottom: 7px solid $bgColor;
      }
    }

  }
  // Responsive Styles

  @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    .content {
      height: 330px;
    }
    .wrapper,
    .sticky-thumbnail {
      height: 330px; //100%;
    }
    .head {
      padding: 10px;
    }
    .h1 {
      font-size: 22px;
    }
  }

  // zaslepka - info o nowej wersji
  .new-version {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #d28255 , #3b4371); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d28255, #3b4371); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d28255, #3b4371); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d28255 , #3b4371); /* Standard syntax */
    img {
      margin: 0 10px;
    }
    span {
      white-space : nowrap;
      margin-left: 20px;
      border: solid 1px #fff;
      border-radius: 5px;
      padding: 5px 5px 5px 15px;
      img {
        margin-top:-3px;
      }
    }
    .nounderline {
      text-decoration: none;
    }
  }
  @media screen and (min-width: 700px){
    .rwd-break { display: none; }
    .new-version {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }
  @media screen and (max-width: 991px){
    .new-version {
      margin-top: -20px;
    }
  }


}
