.home .top-authors {

  position: relative;

  .btn-tag {
    position: absolute;
    top: -10px;
    left: 30px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  li {
    padding: 74px 20px;
    background: #e6ecf0;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 190px 190px;
    flex-grow: 1;
    flex-basis: 0;

    &:not(:last-child){
      margin-right: 10px;
    }
  }

  .link-user,
  .role {
    padding-left: 0.5rem;
    color: $txtColor;
  }

  .link-user {
    font-size: 19px;
    border-left: 6px solid #e9a24f;
    @extend .font-style-semibold;

    .lastName {
      margin-top: -5px;
    }
  }

  .role {
    border-left: 6px solid transparent;
    @extend .font-11px;
  }
  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl)){
    li {
      &:nth-child(n+3) {
        display: none;
      }
      &:nth-child(2){
        margin-right: 0;
      }
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, xl)) and (max-width: 1400px){
    li {
      &:nth-child(n+4) {
        display: none;
      }
      &:nth-child(3){
        margin: 0;
      }
    }
  }

  @media only screen and (min-width: 1401px) and (max-width: 1800px){
    li{
      &:nth-child(n+5) {
        display: none;
      }
      &:nth-child(4){
        margin-right: 0;
      }
    }
  }
    // Responsive Styles
}
