
.author-posts {

  .author-info {
    padding: 60px 10px;
    text-align: center;
  }

  .author-avatar {
    img {
      width: 95px;
    }
  }

  .author-name {
    h3 {
      @extend .font-style-semibold;
    }
    span {
      @extend .font-13px;
      line-height: 20px;
      margin: 0 15px 8px 15px;
      color: #8196a7;
    }
  }

  .social-media {
    p {
      @extend .font-13px;
    }
    .social-links {
      display: block !important;
      margin-top: -6px;
    }
  }

  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    .author-info {
      text-align: left;
    }
  }
  // Responsive Styles
}
