.edit-profile {

  // Avatar
  .avatar {
    text-align: center;

    .avatar-wrapper {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        position: relative;
        @include border-radius(100%);
        overflow: hidden;
        border: 1px solid $border1px;
        position: relative;
    }

    input[type="file"] {
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      padding-top: 7px;
      cursor: pointer;


    }
     .avatar-edit {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        background: rgba($brandColor3, 0.8);
        padding: 2px 0 10px 0;
        color: white;
        text-decoration: underline;
        @extend .font-11px;
        @extend .font-style-semibold;
        cursor: pointer;
     }

    img {
      width: 100%;
    }

    .name {
      @extend .font-12px;
      @extend .font-style-semibold;
      color: #7b96be;
      word-wrap: break-word;
    }
  }

  // Nav Main
  .profile-nav {
    .desktop,
    .mobile {
      @extend .font-style-semibold;
      a {
        color: $txtColor;
      }
    }
    .desktop {
      li {
        a {
          padding: 5px 0;
          display: block;
          border-bottom: 1px solid $border2px;
        }
        .active {
          margin: 0 -15px;
          padding: 5px 15px;
          background: $border2px;
          border-bottom: 0;
        }
      }
    }
    .mobile {
      text-align: center;
      .profile {
        font-size: 19px;
        border-bottom: 2px solid $border2px;
        padding-bottom: 20px;
        a {
          display: inline-block;
        }
      }
      .icon {
        width: 9px;
      }
      #mobilenavprofile {
        a {
          display: block;
          padding: 20px 0;
        }
      }
    }
  }

  // Nav Bottom
  .profile-nav-bottom {
    @extend .font-style-semibold;
    font-size: 19px;
    text-align: center;
    margin-bottom: -3rem;
    li:first-child {
      border-bottom: 2px solid $border2px;
    }
    li {
      padding: 20px 0;
    }
    a {
      display: inline-block;
      color: $txtColor;
    }
  }

  // notification

  .alert {
    margin-top: 0;
    padding: 30px 0;
  }

  // Block Styles
  .profile-block {
    background: white;
    padding: 20px;
    border: 1px solid $border1px;
    //position: relative;
    //display: block;
    h2, h3 {
      @extend .font-14px;
      @extend .font-style-semibold;
    }
    h2 {
      margin: -20px -20px 1.5rem -20px;
      padding: 22px 20px;
      background: $bgColor;
    }
  }

  #block-interests {
    h2 {
      //margin: 0;
    }
    .info-form {
      padding: 20px;
    }
  }

  // Form Styles
  .info-form {
    height: 100%;
    .form-group {
      flex: 1;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 0 0 50%;
          margin-bottom: 20px;
        }
      }
    }
    .form-check-label,
    .col-form-label {
      @extend .font-style-semibold;
    }
    .col-form-label {
      @extend .font-12px;
    }
    .form-check-label {
      @extend .font-13px;
    }
    button {
      position: absolute;
      top: 10px;
      right: 25px;
      background-image: url('/static/img/icons/update_white.svg');
      background-repeat: no-repeat;
      background-position: 15px center;
      padding-left: 45px;
    }

    .img-password {
      top: -2px;
      vertical-align: initial;
    }
  }

  // Responsive Styles
  @media only screen and (min-width: map-get($grid-breakpoints, lg)){

    aside > .wrapper {
      background: white;
      padding: 15px;
      border: 1px solid $border1px;
    }

    .info-form {
      .form-group {
        ul {
          li {
            flex: 0 0 33.33%;
            margin-bottom: 20px;
          }
        }
      }
      button {
        position: relative;
        top: 0;
        right: 0;
      }
      .btn-wrapper {
        width: 100%;
      }
    }
  }
  // Responsive Styles
}
// Crop avatar modal box
.modal {
  opacity: 1;
  background: rgba(0,0,0, 0.5);
}

.modal-content{
  display: flex;
  padding: 15px;
  border-radius: 0;
  position: relative;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  margin-top: calc(50vh - 60px);

  .canvas {
    margin: auto;
    overflow: scroll;
  }
  input[type='range'] {
    margin: auto;
  }

  .btn-close {
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    top: -10px;
    right: -12px;
  }
  .row {
    overflow-x: hidden;
  }
}