.people {

  // People Item
  .people-item {

    &:not(:last-child){
      margin-bottom: 2rem;
    }

    .wrapper {
      background: white;
      padding: 15px;
      height: 100%;
    }

  }

  // People header
  .header-author {

    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid $border1px;
    cursor: pointer;

    .user-image,
    .user-info {
      display: block !important;
    }

    .user-image img {
      max-width: 100px;
    }

    .post-author-info {
      margin: 0 !important;
    }

  }

  // People articles
  .header-author-article {
    position: relative;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    li:not(:last-child) {
      margin-bottom: 1rem;
    }

    .description {
      display: none;
      text-align: left;
      background: white;
      width: 100%;
      height: 100%;
    }
  }

  // Responsive Styles
  @media only screen and (min-width: 576px){
    // People Item
    .people-item {
      .wrapper {
        padding: 30px 60px;
      }
    }
  }
  @media only screen and (min-width: 992px){
    // People Item
    .people-item {
      &:not(:last-child){
        margin-bottom: 1.4rem;
      }
    }

    // People articles
    .header-author-article {
      h2 {
        text-align: left;
      }
    }
  }

}
