.contact {
  &-head {
    background-color: #5d7697;
    background-image: url('/static/img/contact.png');
    background-position: right 25%;
    background-size: auto calc(90% + 7vw);
    background-repeat: no-repeat;
    color: white;
    padding: calc(60px + 5vh) 20px;
    position: relative;
    p {
      font-size: 19px;
    }
  }

  &-info {
    &-text {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    &-info {
      &-text {
        display: block;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    &-head {
      background-color: #5d7697;
      background-image: url('/static/img/contact.png');
      background-position: right 20%;
      background-size: auto calc(80% + 20vw);
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    &-head {
      background-color: #5d7697;
      background-image: url('/static/img/contact_sm.png');
      background-position: center 25%;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      padding: 60px 20px;
      position: relative;
      &:before {
        content: '';
        background: rgba(#223144, 0.61);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media only screen and (max-width: 410px) {
  .contact {
    &-head {
      background-color: #5d7697;
      background-image: url('/static/img/contact_sm.png');
      background-position: center 25%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: white;
      padding: calc(20px + 2vh) 20px;
      position: relative;
      &:before {
        content: '';
        background: rgba(#223144, 0.61);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}