.share {
  .item {
    margin: 10px 2px;
    padding: 0 8px;
    text-align: center;
    border: none;
  }
}



//.share {
//  padding: 20px;
//  text-align: center;
//  position: relative;
//  &-save {
//    border-top: 1px solid $brandHighlight;
//    border-bottom: 1px solid $brandHighlight;
//    padding: 10px 0;
//  }
//  &-bottom {
//    background: white;
//    padding: 10px;
//  }
//
//  // RESPONSIVE STYLES
//  @media only screen and (min-width: 576px){
//    &-bottom {
//      .social:before {
//        content: 'Udostępnij:';
//        float: left;
//        margin-right: 10px;
//        font-family: "Lato";
//      }
//    }
//  }
//}
//
//.share-sticky {
//  position: fixed;
//  top: 50px;
//  z-index: 2000;
//  box-shadow: 0 0 5px 1px $border2px;
//}
