.social-bar {
  
  z-index: 2;

  //.line {
  //  height: 20px;
  //  width: 80%;
  //  margin-bottom: 10px;
  //  border-bottom: 2px solid $border1px;
  //}
  .line {
    height: 2px;
    background-color: $border1px;
    width: 90%;
  }
  .text {
    font-family: 'Open Sans Semibold';
    line-height: 30px;
    font-weight: bold;
    margin: 2px 5px;
  }
}

.fixed {
  position: fixed;
  top: 60px;
}

.absolute {
  position: absolute;
}
