.thumbnail {
  width: 55px;
}

.link-user,
.role {
  @extend .font-11px;
  //word-break: break-word;
}

.link-user {
  @extend .font-style-semibold;
  display: block;
  word-wrap: break-word;
}

.role {
  color: $txtLightColor;
}
